# Python
__pycache__/
*.py[cod]
*.so
venv/
env/

# Django
db.sqlite3
*.log
/media/
/resumes/
/staticfiles/

.env
.env.local
.env.production

.coverage
coverage.xml
.pytest_cache/


celerybeat-schedule
celerybeat.pid

dump.rdb


.vscode/
.idea/
*.swp
.DS_Store


*.pid